// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//new.html.erb//
.survey-form-container {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 2px;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-top: 0.5em;
	.logo-image {
		margin-bottom: 2em;
		.logo {
			height: 5em;
		}
	}
	.form-group {
		margin-bottom: 1.2em;
		.label-container {
			margin-right: 3em;
		}
		.col-form-label {
			margin-right: 1em;
			&:after {
				background-color: #eeeeee;
				border-radius: 50%;
				border: 1px solid black;
				padding-left: 0.4em;
				padding-right: 0.4em;
        		content: "?";
        		margin-left: 1em;
        	}
        	&:hover:after {
        		background-color: #d7d7d7;
       		}
		}
		.input-group-addon {
		}
	}
	.form-group-right {
		text-align: right;
	}
	.survey-submit {
		margin-top: 2em;
	}
}

//show.html.erb//
.return-results-container {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 2px;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-top: 0.5em;
	text-align: center;
	.logo-image {
		margin-bottom: 0.5em;
		.logo {
			height: 5em;
		}
	}
	.return-summary-container {
		border: 1px solid black;
		border-bottom: 0;
		.summary-title {
			margin-bottom: 2em;
			text-decoration: underline;
		}
		.result-title {
			font-size: 1.1em;
			text-decoration: underline;
		}
		.calculated-result {
			margin-bottom: 2em;
			font-weight: bold;
			border-bottom: 1px solid black;
		}
		.recalculate-button {
			float: left;
			margin-bottom: 2em;
			margin-top: 1em;
		}
		.new-return-button {
			margin-bottom: 2em;
			margin-top: 1em;
			float: right;
		}
	}

	.return-details-container {
		border: 1px solid black;
		border-left: 0;
		border-right: 0;
		padding: 0;
		.return-details-title {
			margin-bottom: 2em;
			text-decoration: underline;
		}
		.detail-title {
			font-size: 1.1em;
			text-decoration: underline;
			&:after {
				display: inline-block;
				background-color: #eeeeee;
				border-radius: 50%;
				border: 1px solid black;
				padding-left: 0.4em;
				padding-right: 0.4em;
        		content: "?";
        		font-size: 0.7em;
        		margin-left: 0.6em;
        		text-decoration: none;
        	}
        	&:hover:after {
        		background-color: #d7d7d7;
       		}
		}
		.calculated-detail {
			margin-bottom: 2em;
			font-weight: bold;
			border-bottom: 1px solid black;
		}
		.incivility-cost-container {
			border-top: 1px solid black;
			border-right: 1px solid black;
		}
		.engagement-leadership-cost-container {
			border-top: 1px solid black;
			border-bottom: 1px solid black;		
		}
		.cs-investment-container {
		}
	}
}